


/* general style */

body{font-family: 'Inter', sans-serif; font-size:16px;}

a{text-decoration:none;}

h1,h2,h3,h4,h5,p{ color:#000; padding-bottom:30px;}

.big-text{font-size:100px;font-weight: 900}
.med-text{ font-size:40px;}
.normal-text{font-size:20px; }
.small-text{font-size:14px; }

.intro-text{text-transform:uppercase; font-weight: bold; font-size:20px;}

.button{color: white;display:inline-block; background: #a892ab;height: 80px; width:80px;text-align: center; line-height: 80px; border-radius:100%;}


.tw{color: #000;}
.tw-c{color: #fff;}


/* ! mobile */

@media(max-width:768px){
.big-text{font-size:40px;}

}





/* header */

.header{width:100%; top:0; left:50%; transform: translateX(-50%);position: fixed;z-index: 10;padding:30px; display:flex; max-width:1350px}


.logo {position: relative; z-index:1;}

.menu { width:100%; z-index:0; margin-left: 20px; padding-top: 10px;}
.menu li {display: inline-block;}
.menu li a{ color: #fff; display: block; padding: 30px;line-height: 2;cursor: pointer; background: url('trasparenza.png');width: 60px;height: 60px;border-radius: 100%;line-height: 60px;text-align: center;}
.menu li a:after {
display: block;
content: "";
height: 5px;
width: 0%;
background-color: #e36dc9;
transition: width .3s ease-in-out;
}
.menu li a:hover:after,
 a:focus:after {width: 100%;}




.cta{padding-top: 10px;}
.hamburger{ diplay:none;}

/* ! mobile */

@media(max-width:768px){
.logo{padding-left: 20px;}
.cta{display:none;}

.menu{ position:absolute ;top:0 ; right:-120% ;height:100vh; padding-top:150px;background:#000;transition: all 1s cubic-bezier(.215, .61, .355, 1);}

.menu li{display: block;background: none;}

.menu li a{ padding: 15px 30px; font-size: 20px; background: none;}

.menu--open { right: -6%; padding-left:200px;}


.hamburger{ display:block ; width:30px; height:30px; position:absolute; top:40px; right: 50px;}

.hamburger span{background:#e36dc9; height:3px; width:100%; display:block ;margin-bottom:5px}
#due{background:#6980db;}
}




/*hero*/
.hero{position: relative;/*background:linear-gradient(0deg, rgba(0,0,0, .1), rgba(0,0,0,0.6)),url('anna-shevts') no-repeat center center; background-size: cover;*/ width:100%; height:100vh; display:flex; align-items:center;overflow: hidden;}
.hero:after{content:'';width: 100%;height: 100%;display: block; position: absolute;bottom: 0;top:0; left:0;background: #000; opacity: 0.1;}
.hero__content{width:100%; max-width:1350px; margin:0 auto;padding:30px;z-index: 1; position: relative;}

.hero__content h1, p{
  color: #fff;
}
#video-back{position: absolute;
  top: 0;
  left:0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;

}




/* ! Poster */
.poster{display: flex;
  height:100vh;
   width: 100%;
   align-items: center;

}



#p {color: #000; line-height: 30px; font-weight: 300;}
.poster__img {width: 65%; height: 100%; }
.poster__img img{object-fit:cover; width:100%; height:100%;}

.poster__content{width: 35%; padding: 50px;}



@media (max-width: 768px) {
  .poster{flex-wrap:wrap; height: auto;}
  .poster__img,
  .poster__content{width: 100%;}
  .imgA{width: 100%; height: 100%;}
}


/* ! Cover */
.bg-cover{display: flex;padding: 100px 0;background:linear-gradient(0deg, rgba(0,0,0, .3), rgba(0,0,0,0.9)),url('angele.jpg') no-repeat center center; background-size: cover;}



.bg-cover__title{width: 50%;padding: 50px;display: flex;align-items: center;}
.bg-cover__text{width: 50%;padding: 30px;}


/* ! mobile */
@media (max-width: 768px) {
  .bg-cover{flex-wrap: wrap;height: auto;}
  .bg-cover__title,
  .bg-cover__text{width: 100%;}
}


.grid{display: flex;max-width: 1350px; padding: 0 30px; margin: 0 auto;}
.grid .col{width: 100%;}

@media (max-width: 768px) {
  .grid{flex-wrap: wrap;}
}

/* ! carousel */
.main-carousel{padding:40px 0;width: 100%;}
.carousel-cell{height: 350px;
               width: 350px;
               margin-right: 40px;
}
.carousel-cell__content{
        width: 100%;
        height: 100%;
        background: #4bb1e9;
        border-radius: 100%;
        line-height: 350px;
        text-align: center;



}


/* ! panel green */

.panel-blue{background: #6adf91;padding: 30px;}
.dot{height: 200px; width: 200px;background: #4bb1e9; border-radius: 100%; line-height: 200px;text-align: center;
display: inline-block;margin-right: 40px;margin-bottom: 40px;}
.panel-blue__text{display: flex;align-items: center;}


/* ! footer */

.footer{background: #010e30;padding: 150px 0;}









/* ! helpers */
.mt-1{margin-top: 20px;}
.mt-2{margin-top: 50px;}
.mt-3{margin-top: 100px;}
.mt-4{margin-top: 150px;}
.mt-5{margin-top: 200px;}

@media (max-width: 768px) {
  .mt-smart-0{margin-top: 0;}
  .mb-smart-0{margin-bottom: 0;}
}





*,
 *before:,
  *after:{
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
